@media screen and (max-width: 576px) {
    .hero-container{
        flex-direction: column-reverse;
       text-align: center;
       gap: 10px;
    }
    .hero-container-title{
        font-size: 1.75rem;
    }
    .hero-container-description{
        font-size: 1rem;
    }
    .hero-container-image-div{
        max-width: 100%;
        height: auto;
        margin: 20px 20px;
    }
    .hero-container-image{
        max-width: 100%;
        height: auto;
      
    }
    .hero-container-text{
        
        padding: 20px;
    }
    .product-card-container{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 30px;
    }
    .feature-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .feature-container-content{
        margin: 20px;
    }
    .feature-container-img{
       padding: 20px;
    }
    .feature-container-img{
        width: 100%;
        height: 100%;
    }

}



@media screen and (min-width: 576px) and (max-width: 992px) {

    .hero-container{
        flex-direction: column-reverse;
       text-align: center;
       gap: 30px;
    }
    .product-card-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 30px;
    }
    .feature-container{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .feature-container-content{
        margin: 20px;
    }
    .feature-container-img{
        padding: 20px;
     }
     .feature-container-img{
        width: 100%;
        height: 100%;
    }
}
